<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Galactica</string>
	<key>CFBundleGetInfoString</key>
	<string>Galactica™: Anno Dominari version 3.0, copyright © 1996-2006 Sacred Tree Software.  All rights reserved.</string>
	<key>CFBundleIconFile</key>
	<string>Galactica.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.sacredtree.galactica.annodominari</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Galactica: AD</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>Galactica™: Anno Dominari version 2.3</string>
	<key>CFBundleSignature</key>
	<string>Tré5</string>
	<key>CFBundleVersion</key>
	<string>3.0</string>
	<key>SmartCrashReports_CompanyName</key>
	<string>VendorNation</string>
	<key>SmartCrashReports_EmailTicket</key>
	<string>SCR-785A9C05BB</string>
</dict>
</plist>
